{%- assign params = "modestbranding=1&rel=0" -%}
{%- if include.start -%}{%- assign params = params | append: "&start=" | append: include.start -%}{%- endif -%}
{%- if include.end -%}{%- assign params = params | append: "&end=" | append: include.end -%}{%- endif -%}
<lite-youtube
        class="module full-width"
        videoid="{{ include.id }}"
        style="aspect-ratio: {{ include.aspect_ratio }}; background-image: url('https://i.ytimg.com/vi_webp/{{ include.id }}/sddefault.webp')"
        params="{{ params }}"
></lite-youtube>
